.input-field {
    margin-bottom: 1rem;

    label {
        font-weight: 500;
        color: #374151;
        font-size: 0.875rem;
        margin-bottom: 0.25rem;
    }
}

.toggle-btn {
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    svg {
        display: block;
        color: #6b7280;
    }

    &:hover svg {
        color: #374151;
    }
}
